.frosted-glass {
    background: inherit;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
}

.frosted-glass::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    background-position: top;
    box-shadow: inset 0 0 1000px 40px #2f3341;
    filter: blur(20px);
    margin: -40px;

    @include mobile {
        background-size: 180%;
    }

    @include tablet {
        background-size: 100%;
    }
}

.text-shadow {
    text-shadow: 0 3px 6px rgba(50, 62, 47, 0.753);
}

blockquote {
    margin: 2rem 0;
    font-weight: 500;
    font-size: 1.25rem
}