.envira-gallery-wrap {
    h1 {
        font-size: 2rem;
        // margin: 6rem 0 5rem;
        padding: 32px 12px 16px;
        display: inline-block;
        font-family: Constantia,
            Lucida Bright,
            Lucidabright,
            Lucida Serif,
            Lucida,
            DejaVu Serif,
            Bitstream Vera Serif,
            Liberation Serif,
            Georgia,
            serif;
    }
}


.envira-gallery-item {

    padding-bottom: 0 !important;
    margin-top: 50px !important;
    transition: all 500ms !important;
    transform-origin: bottom !important;

    overflow: visible !important;

    &:hover {
        transform: translateY(-2px);
    }

    img {
        border: 10px solid #fff !important;
        box-shadow: 0 12px 18px -5px rgba(11, 13, 19, 0.25) !important;
        filter: grayscale(25%);

        &:hover {
            filter: grayscale(0);
            border: 10px solid rgb(238, 166, 94) !important;
        }
    }
}

// #envira-gallery-wrap-97 {
.envira-lazy {
    margin: 0 !important;
    padding: 0 !important;
}

// }

.envira-pagination {
    padding-top: 3rem !important;
    margin-bottom: 0 !important;

    .current {
        color: rgba(99, 99, 99, 0.9);
        font-weight: 500;
        // text-shadow: 0 1px 2px rgb(34, 59, 24);
    }

    a {
        color: rgba(255, 255, 255, 0.9);
        font-weight: 500;
        text-shadow: 0 1px 2px rgb(34, 59, 24);
    }
}