.envira-gallery-wrap h1 {
  font-size: 2rem;
  padding: 32px 12px 16px;
  display: inline-block;
  font-family: Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;
}

.envira-gallery-item {
  padding-bottom: 0 !important;
  margin-top: 50px !important;
  transition: all 500ms !important;
  -webkit-transform-origin: bottom !important;
          transform-origin: bottom !important;
  overflow: visible !important;
}

.envira-gallery-item:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.envira-gallery-item img {
  border: 10px solid #fff !important;
  box-shadow: 0 12px 18px -5px rgba(11, 13, 19, .25) !important;
  -webkit-filter: grayscale(25%);
          filter: grayscale(25%);
}

.envira-gallery-item img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  border: 10px solid #eea65e !important;
}

.envira-lazy {
  margin: 0 !important;
  padding: 0 !important;
}

.envira-pagination {
  padding-top: 3rem !important;
  margin-bottom: 0 !important;
}

.envira-pagination .current {
  color: rgba(99, 99, 99, .9);
  font-weight: 500;
}

.envira-pagination a {
  color: rgba(255, 255, 255, .9);
  font-weight: 500;
  text-shadow: 0 1px 2px #223b18;
}
