.header {
  background: url("images/bg.jpg") no-repeat top center;
  background-size: 275%;
  min-height: 80vh;
  position: relative;
}

.menu ul {
  display: flex;
}

.menu ul li {
  padding: 1.8rem 0 1.2rem;
  border-bottom: 3px solid transparent;
}

svg #wheel {
  -webkit-animation: scroll ease-out 1.6s infinite;
          animation: scroll ease-out 1.6s infinite;
}
